@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-red {
    border: 2px solid #ff1744 !important;
    box-shadow: 0 0 5px #ff1744, 0 0 10px #ff1744 inset !important;
    border-radius: 0.3rem;
}
